@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,500);
#home .jumbotron {
  background: url("../css/assets/ZP-background-playground.svg") bottom repeat-x, linear-gradient(to bottom, #56A850 0%, #AAD5A7 46%, #FFFFFF 100%); }
  #home .jumbotron h1 {
    color: #215B1D; }

#react-masked-field .jumbotron {
  background: url("../css/assets/ZP-background-swingset.svg") bottom repeat-x, linear-gradient(to bottom, #E1D261 0%, #F7EB93 46%, #FFFFFF 100%); }

.react-masked-field-demo {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 50%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

p {
  font-weight: 300;
  line-height: 1.5em; }

.navbar-default {
  position: absolute;
  width: 100%;
  background: transparent; }
  .navbar-default .navbar-header .navbar-brand img {
    margin-top: 15px;
    width: 160px; }
  .navbar-default .navbar-header .navbar-toggle {
    margin-top: 1em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 2em;
    border: 0;
    background-color: transparent; }
    .navbar-default .navbar-header .navbar-toggle:hover, .navbar-default .navbar-header .navbar-toggle:active, .navbar-default .navbar-header .navbar-toggle:focus {
      background-color: transparent; }
  .navbar-default .navbar-collapse {
    border: 0;
    box-shadow: none;
    margin-top: 2.5em; }
    .navbar-default .navbar-collapse .navbar-nav {
      font-family: "Lato", sans-serif;
      font-size: 0.9em;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 10px; }
      .navbar-default .navbar-collapse .navbar-nav li > a {
        color: #23231E;
        padding: 0.5em 1em 0.1em 1em; }
        .navbar-default .navbar-collapse .navbar-nav li > a:hover, .navbar-default .navbar-collapse .navbar-nav li > a:active {
          background: none; }
      .navbar-default .navbar-collapse .navbar-nav .dropdown-menu {
        padding: 1em;
        border: 0;
        box-shadow: none;
        border-top-right-radius: 4px; }
        .navbar-default .navbar-collapse .navbar-nav .dropdown-menu a {
          font-family: "Lato", sans-serif;
          font-size: 0.9em;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          font-weight: 400;
          text-transform: lowercase;
          padding: 0;
          font-weight: 400; }
      .navbar-default .navbar-collapse .navbar-nav .open > a, .navbar-default .navbar-collapse .navbar-nav .open > a:focus, .navbar-default .navbar-collapse .navbar-nav .open > a:hover {
        background: #FFFFFF;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }

ul.social-media {
  padding: 12px;
  list-style: none; }
  ul.social-media li {
    display: inline-block; }
    ul.social-media li img {
      width: 25px;
      margin-left: 5px;
      margin-right: 5px; }

body {
  position: relative; }

article {
  padding: 50px 0; }

.row {
  padding: 0;
  margin: 0; }

.btn-primary {
  background-color: #3D9936;
  border: #3A8C34;
  margin: 10px; }

.glyphicon {
  font-size: 0.6em; }

.jumbotron {
  margin-bottom: 0;
  background-size: cover; }
  .jumbotron .project-name {
    padding: 60px 0 200px 0; }
    .jumbotron .project-name h1 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0; }

ul.project-nav li {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  cursor: pointer; }
  ul.project-nav li a:hover, ul.project-nav li a:active {
    background: none; }

.project-description {
  padding: 0 15px;
  margin-bottom: 2em; }
  .project-description form {
    padding: 10em; }

.project-box .project-detail {
  background-color: #F0F0EE;
  min-height: 320px;
  padding: 2em 3em;
  margin-bottom: 150px;
  border-radius: 5px;
  font-weight: 300; }
  .project-box .project-detail h4 {
    padding-bottom: 0.5em; }

code {
  background-color: transparent;
  color: #6E6E67;
  padding: 0;
  margin-top: 1em; }
  code span.variable {
    color: #438D9E; }
  code span.method {
    color: #45AFAA; }
  code span.attribute {
    color: #CC4934; }

pre {
  line-height: 0.5em;
  border: 0;
  margin-bottom: 1em; }

.code-group {
  margin: 1em 0; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3em 0;
  background: #C5C5C2;
  font-weight: 300;
  color: #6E6E67; }
  .footer .sub-footer-links span {
    font-family: "Lato", sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400; }

@media (max-width: 768px) {
  .navbar-default .navbar-collapse {
    margin-top: 0; }
    .navbar-default .navbar-collapse .navbar-nav {
      text-align: center;
      padding: 4em;
      margin-top: 0;
      margin-bottom: 0;
      background-color: rgba(255, 255, 255, 0.9); }
      .navbar-default .navbar-collapse .navbar-nav .dropdown-menu {
        text-align: center;
        padding: 1em 2em; }
        .navbar-default .navbar-collapse .navbar-nav .dropdown-menu li > a {
          text-transform: lowercase;
          color: #23231E;
          font-weight: 400; }
      .navbar-default .navbar-collapse .navbar-nav .open > a, .navbar-default .navbar-collapse .navbar-nav .open > a:focus, .navbar-default .navbar-collapse .navbar-nav .open > a:hover {
        background: transparent; }
    .navbar-default .navbar-collapse ul.social-media {
      display: none; } }
body {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

p {
  font-weight: 300;
  line-height: 1.5em; }

body {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

p {
  font-weight: 300;
  line-height: 1.5em; }

/*# sourceMappingURL=import_all_styles.css.map */
