@import "import_all_styles";

// Home Page
.message {
	img {
		padding-top: 15px;
		width: 30px;
		float: right;
	}
}

ul.project-list {
	li {
		.project {
			position: relative;
			background: $project-detail-background;
			cursor: pointer;
			margin: 0.5em 0;
			padding: 4.5em 2em 2em 2em;
			font-size: 1em;
			font-weight: 300;
			border-radius: 5px;
		}
	}
}

.tag-type {
	@include font-label;
	position: absolute;
	top: 15px;
	right: -5px;
	padding: 10px 25px;
	color: $grey-800;
	&.tag-react {
		background-color: $canary-600;
	}
	&.tag-node {
		background-color: $aqua-200;
	}
	&.tag-ruby {
		background-color: $carrot-500;
	}	
}

.jobs-posting {
	padding: 20px 0 150px 0;
	img {
		width: 80px;
	}
}