%html{:lang => "en-us"}
	%head
		%meta{:charset => "UTF-8"}
		%title React-Masked-Field
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
		%link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
		%link{:href => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css", :rel => "stylesheet"}
		%link{:href => "css/assets/ZP-Logo-bug-Z.png", :rel => "shortcut icon", :type => "text/css"}
		%link{:href => "css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		%nav.navbar-default
			.container
				.navbar-header
					%button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
						%span.glyphicon.glyphicon-align-justify
					%a.navbar-brand{:href => "https://zenpayroll.com/"}
						%img{:src => "css/assets/ZP-Logo-white.png"}
				#navbar.navbar-collapse.collapse
					%ul.nav.navbar-nav
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "", :role => "button"}
								Projects
								%span.glyphicon.glyphicon-triangle-bottom
							%ul.dropdown-menu
								%li
									%a{:href => ""} React-Masked-Field
								%li
									%a{:href => ""} RoboJeremy
								%li
									%a{:href => ""} P3
						%li
							%a{:href => "http://engineering.zenpayroll.com/"} Blog
					.navbar-right
						%ul.social-media
							%li
								%a{:href => "https://github.com/ZenPayroll/react-masked-field"}
									%img{:src => "css/assets/ZP-social-github.svg"}
							%li
								%a{:href => "https://www.facebook.com/ZenPayroll"}
									%img{:src => "css/assets/ZP-social-facebook.svg"}
							%li
								%a{:href => "https://www.linkedin.com/company/zenpayroll"}
									%img{:src => "css/assets/ZP-social-linkedin.svg"}
							%li
								%a{:href => "https://twitter.com/zenpayroll"}
									%img{:src => "css/assets/ZP-social-twitter.svg"}
		#react-masked-field
			%article.jumbotron
				.container
					.row.project-name.text-center
						%h1 React-Masked-Field
						%p A masked input component built in React.js
		%article#main-content.container
		%footer.footer
			.container
				.row
					.sub-footer-links.col-sm-12.text-center
						%span
							Privacy Policy
						&#169; 2015 ZenPayroll Engineering. All Rights Reserved.

		%script{:src => "http://code.jquery.com/jquery-1.11.2.min.js"}
		%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}

		%script{:src => "js/app.js"}
