@import "colors";
@import "mixins";

// Navigation Bar
.navbar-default {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	background: transparent;
	.navbar-brand {
		img {
			width: 150px;
		}
	}
	.navbar-toggle {
		margin-top: 0.5em;
		margin-right: 0.5em;
		padding: 0.5em;
		font-size: 2em;
		border: 0;
		&:hover, &:active {
			background-color: rgba(255,255,255,0.5)
		}		
	}
	.navbar-nav {
		@include font-label;
		margin-top: 18px;
		.open>a, .open>a:focus, .open>a:hover {
			color: $body-font-hover;
			background: transparent;
		}
		li>a {
			color: $body-font-normal;
			&:hover, &:active {
				background: none;
			}
		}
	}
	.navbar-nav>li>.dropdown-menu {
		padding: 1em;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		li>a {
			@include font-label;
			padding: 0;
		}
	}
}
ul.social-media {
	padding-top: 30px;
	padding-right: 30px;
	list-style: none;
	li {
		display: inline-block;
		img {
			width: 25px;
			margin-left: 5px;
		}
	}
}

// Structure
body {
	position: relative;
}

article {
	padding: 50px 0;
}

.row {
	padding: 0;
	margin: 0;
}

// Buttons
.btn-primary {
	background-color: #3D9936;
	border: #3A8C34;
	margin: 10px;
}

// Icons
.glyphicon {
	font-size: 0.6em;
}

// Header
.jumbotron {
	margin-bottom: 0;
	background-size: cover;
	.project-name {
		padding: 60px 0 200px 0;
		h1 {
			font-size: 3em;
			margin-top: 1em;
			margin-bottom: 0;
		}
	}
}

// Project Detail
ul.project-nav {
	li {
		@include font-label;
		display: inline-block;
		cursor: pointer;
		a:hover, a:active {
			background: none;
		}
	}
}
.project-description {
	padding: 0 15px;
	margin-bottom: 2em;
	form {
		padding: 10em;
	}
}
.project-box {
	.project-detail {
		background-color: $project-detail-background;
		min-height: 320px;
		padding: 2em 3em;
		margin-bottom: 150px;
		border-radius: 5px;
		font-weight: 300;
		h4 {
			padding-bottom: 0.5em;
		}
	}
}
code {
	background-color: transparent;
	color: $code-font-normal;
	padding: 0;
	margin-top: 1em;
	span.variable {
		color: $code-font-variable;
	}
	span.method {
		color: $code-font-method;
	}
	span.attribute {
		color: $code-font-attribute;
	}
}	
pre {
	line-height: 0.5em;
	border: 0;
	margin-bottom: 1em;
}
.code-group {
	margin: 0.5em 0;
}

// Footer
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3em 0;
	background: $secondary-background-color;
	font-weight: 300;
	color: $grey-600; 
	.sub-footer-links {
		span {
			@include font-label;
		}	
	}
}