$primary-background-color: #D8EDD7;
$secondary-background-color: #C5C5C2;

$project-detail-font: #DBB705;
$project-detail-background: #F0F0EE;

$body-font-normal: #23231E;
$body-font-hover: #3F3F39;

$code-font-normal: #6E6E67;
$code-font-variable: #438D9E;
$code-font-method: #4CBFB9;
$code-font-attribute: #B25928;

$language-react: #F0F0EE;