@import "../partials/_colors";

#react-masked-field {
	.jumbotron {
		background: url("../css/assets/ZP-background-swingset.svg") bottom repeat-x, linear-gradient(to bottom, $canary-800 0%,$canary-500 46%,$white 100%);
	}
}

.react-masked-field-demo {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 50%;
}
